/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #d4c3e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 352px;
    height: 424px;
    position: relative;
    /* text-align: center; */
}
  
.badge {
    background-color: #ffeeb3;
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: -10px;
}
  
.watch-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.content {
    margin-top: 15px;
    padding: 0px 5%;
}
  
.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
  
.series {
    font-size: 1rem;
    font-weight: normal;
    color: #666;
}
  
.description {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
}