* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

nav {
    position: fixed;
    z-index: 7;
    /* border: 1px solid black; */
    width: 100%;
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 145px;
}

.navlinks ul {
    display: flex;
}

.navlinks ul li {
    list-style: none;
    padding: 0px 25px;
    font-size: 18px;
}

.navlinks ul li a {
    text-decoration: none;
}

.navlinks ul li .link {
    color: black;
}

.url-navlink {
    color: rgba(0, 101, 254, 1);
}

.navlinks ul li .link button {
    all: unset;
    margin-left: 5px;
}

.login-try-flex {
    display: flex;
    gap: 24px;
    align-items: center;
    /* border: 1px solid black; */
}

.login-try-flex a {
    text-decoration: none;
    color: rgba(0, 101, 254, 1);
}

.login-try-flex a:hover {
    text-decoration: underline;
}

.login-try-flex button {
    color: white;
    background-color: rgba(0, 101, 254, 1);
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.login-try-flex button:hover {
    color: rgba(0, 101, 254, 1);
    background-color: white;
    border: 1px solid rgba(0, 101, 254, 1);
    transition: all 0.9s ease;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 162px 218px;
    overflow-x: hidden;
}

.section1 h1 {
    font-size: 48px;
    line-height: 96px;
    text-align: center;
}

.section1 h1 span {
    color: rgba(0, 101, 254, 1);
    position: relative;
}

.section1 h1 span::after {
    content: url(assets/Vector\ 3.png);
    position: absolute;
    top: 25%;
    left: 20%;
    /* width: 173.63px; */
    /* height: 19.91px; */
}

.section1 p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin-top: 28px;
}

.signup-learnmore-flex {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 26px;
}

.signUp-btn {
    color: white;
    background-color: rgba(0, 101, 254, 1);
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.signUp-btn:hover {
    color: rgba(0, 101, 254, 1);
    background-color: white;
    border: 1px solid rgba(0, 101, 254, 1);
    transition: all 0.9s ease;
}

.signup-learnmore-flex a {
    text-decoration: none;
    color: rgba(0, 101, 254, 1);
}

.signup-learnmore-flex a:hover {
    text-decoration: underline;
}

.section1-card {
    border: 0.5px solid rgba(0, 101, 254, 1);
    border-radius: 25px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    max-width: 770px;
    height: 224px;
    margin-top: 40px;
    background-color: rgba(254, 254, 254, 0.9);
    position: relative;
}

.section1 .frame {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 384px;
    /* border: 1px solid; */
}

.section1-card p {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20%;
}

.card-vector2 {
    position: absolute;
    z-index: -1;
    left: 10px;
}

.section1-bottom-shapes {
    /* overflow-x: hidden; */
    /* border: 1px solid black; */
    position: relative;
}

.trapezium {
    width: 1348px;
}

.ellipse {
    position: absolute;
    top: 20px;
    left: 180px;
}

.possibilities-banner {
    height: 220px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    gap: 120px;
    background-color: rgba(249, 251, 253, 1);
}

.left-flex h2 {
    font-size: 40px;
    line-height: 48px;
}

.left-flex-header span {
    color: rgba(0, 101, 254, 1);
}

.right-flex {
    display: flex;
    gap: 62px;
}

.option h4 {
    font-size: 32px;
    line-height: 40px;
}

.option p {
    font-size: 16px;
}

.why-choose {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    gap: 96px;
    padding: 10% 0px;
}

.why-choose-header {
    width: 420px;
    /* border: 1px solid; */
}

.header-container {
    /* border: 1px solid; */
    padding-left: 2px;
    width: 100%;
}

.why-choose-header h3 {
    font-size: 40px;
    /* border: 1px solid; */
    padding-left: 15px;
    position: relative;
}

.why-choose-header h3::after {
    content: url(assets/Line\ 70.png);
    position: absolute;
    left: -1%;
}

.why-choose-header h3 span {
    color: rgba(0, 101, 254, 1);
}

.why-choose-header p {
    font-size: 16px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 0px 3%;
}

.why-choose-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid; */
    width: 708px;
}

.offers {
    width: 333px;
    /* border: 1px solid; */
}

.offers h3 {
    font-size: 32px;
    line-height: 28px;
    margin: 25px 0px;
}

.offers p {
    font-size: 16px;
    line-height: 24px;
}