* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    /* border: 1px solid black; */
    /* overflow-x: hidden; */
}

nav {
    position: fixed;
    z-index: 7;
    width: 100%;
    /* border: 1px solid black; */
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 145px;
}

.navlinks ul {
    display: flex;
}

.navlinks ul li {
    list-style: none;
    padding: 0px 25px;
    font-size: 18px;
}

.navlinks ul li a {
    text-decoration: none;
}

.navlinks ul li .link {
    color: black;
}

.url-navlink {
    color: rgba(0, 101, 254, 1);
}

.navlinks ul li .link button {
    all: unset;
    margin-left: 5px;
}

.login-try-flex {
    display: flex;
    gap: 24px;
    align-items: center;
    /* border: 1px solid black; */
}

.login-try-flex a {
    text-decoration: none;
    color: rgba(0, 101, 254, 1);
}

.login-try-flex a:hover {
    text-decoration: underline;
}

.login-try-flex button {
    color: white;
    background-color: rgba(0, 101, 254, 1);
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.login-try-flex button:hover {
    color: rgba(0, 101, 254, 1);
    background-color: white;
    border: 1px solid rgba(0, 101, 254, 1);
    transition: all 0.9s ease;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 162px 218px;
    overflow-x: hidden;
}

.section1 h1 {
    font-size: 48px;
    line-height: 96px;
    text-align: center;
}

.section1 h1 span {
    color: rgba(0, 101, 254, 1);
    position: relative;
}

.section1 h1 span::after {
    content: url(assets/Vector\ 3.png);
    position: absolute;
    top: 25%;
    left: 20%;
    /* width: 173.63px; */
    /* height: 19.91px; */
}

.section1 p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin-top: 28px;
}

.signup-learnmore-flex {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 26px;
}

.signUp-btn {
    color: white;
    background-color: rgba(0, 101, 254, 1);
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.signUp-btn:hover {
    color: rgba(0, 101, 254, 1);
    background-color: white;
    border: 1px solid rgba(0, 101, 254, 1);
    transition: all 0.9s ease;
}

.signup-learnmore-flex a {
    text-decoration: none;
    color: rgba(0, 101, 254, 1);
}

.signup-learnmore-flex a:hover {
    text-decoration: underline;
}

.section1-card {
    border: 0.5px solid rgba(0, 101, 254, 1);
    border-radius: 25px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    max-width: 770px;
    height: 224px;
    margin-top: 40px;
    background-color: rgba(254, 254, 254, 0.9);
    position: relative;
}

.section1 .frame {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 384px;
    /* border: 1px solid; */
}

.section1-card p {
    /* border: 1px solid black; */
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20%;
}

.card-vector2 {
    position: absolute;
    z-index: -1;
    left: 10px;
}

.section1-bottom-shapes {
    /* overflow-x: hidden; */
    /* border: 1px solid black; */
    position: relative;
}

.trapezium {
    width: 1328px;
}

.ellipse {
    position: absolute;
    top: 20px;
    left: 180px;
}

.possibilities-banner {
    height: 220px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    gap: 120px;
    background-color: rgba(249, 251, 253, 1);
}

.left-flex h2 {
    font-size: 40px;
    line-height: 48px;
}

.left-flex-header span {
    color: rgba(0, 101, 254, 1);
}

.right-flex {
    display: flex;
    gap: 62px;
}

.option h4 {
    font-size: 32px;
    line-height: 40px;
}

.option p {
    font-size: 16px;
}

.why-choose {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    gap: 96px;
    padding: 10% 0px;
}

.why-choose-header {
    width: 420px;
    /* border: 1px solid; */
}

.header-container {
    /* border: 1px solid; */
    padding-left: 2px;
    width: 100%;
}

.why-choose-header h3 {
    font-size: 40px;
    /* border: 1px solid; */
    padding-left: 15px;
    position: relative;
}

.why-choose-header h3::after {
    content: url(assets/Line\ 70.png);
    position: absolute;
    left: -1%;
}

.why-choose-header h3 span {
    color: rgba(0, 101, 254, 1);
}

.why-choose-header p {
    font-size: 16px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 0px 3%;
}

.why-choose-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid; */
    width: 708px;
}

.offers {
    width: 333px;
    /* border: 1px solid; */
}

.offers h3 {
    font-size: 32px;
    line-height: 28px;
    margin: 25px 0px;
}

.offers p {
    font-size: 16px;
    line-height: 24px;
}

.plans-header h3 {
    font-size: 40px;
    position: relative;
    text-align: center;
}

.plans-header h3::after {
    content: url(assets/Line\ 70.png);
    position: absolute;
    left: 28%;
    top: 5%;
}

.plans-header h3 span {
    color: rgba(0, 101, 254, 1);
}

.plans-header p {
    padding: 20px 30%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-top: 33px;
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 34px;
}

.plan h1 {
    font-size: 40px;
    margin-bottom: 17px;
}

.plan p {
    font-size: 20px;
    margin-bottom: 20px;
}

.plans ul {
    list-style: none;
}

.plans ul li {
    padding: 11px 0px;
}

#plan1 {
    height: 455px;
    width: 340px;
    border: 0.4px solid rgba(0, 101, 254, 1);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#plan2 {
    height: 627px;
    width: 410px;
    color: white;
    background-color: rgba(30, 52, 72, 1);
    border-radius: 12px;
    padding: 107px 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#plan3 {
    height: 455px;
    width: 340px;
    border: 0.4px solid rgba(0, 101, 254, 1);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: none;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 49px;
    margin-bottom: 50px;
}

.s3-btn1 {
    color: rgba(0, 101, 254, 1);
    background-color: white;
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.s3-btn1:hover {
    color: #fff;
    background-color: rgba(0, 101, 254, 1);
    transition: all 0.9s ease;
}

.s3-btn2 {
    color: white;
    background-color: rgba(0, 101, 254, 1);
    padding: 12px 24px;
    border: 1px solid rgba(0, 101, 254, 1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.9s ease;
}

.s3-btn2:hover {
    color: rgba(0, 101, 254, 1);
    background-color: #fff;
}

.section4 {
    background-color: rgb(30, 52, 72);
    height: 526px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section4 form {
    background-color: #fff;
    height: 357px;
    width: 477px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 3% 50px;
    z-index: 5;
}

#URL {
    padding: 17px 20px;
    width: 377px;
    border: 0.4px solid rgba(0, 101, 254, 1);
    border-radius: 12px;
    margin-bottom: 30px;
    color: rgba(0, 90, 226, 1);
    font-size: 14px;
}

.inputGroup {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

#ChooseDomain, #alias {
    border: 0.4px solid rgba(0, 101, 254, 1);
    border-radius: 12px;
    padding: 14px 20px;
    width: 202px;
    margin-bottom: 30px;
    color: rgba(0, 90, 226, 1);
    background-color: #fff;
    font-size: 14px;
}

.trim-url {
    padding: 16px 0px;
    color: white;
    background-color: rgba(0, 90, 226, 1);
    border: none;
    border-radius: 100px;
    font-size: 14px;
}

form p {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 90, 226, 1);
    margin: 20px;
}

form p span {
    font-weight: bold;
}

.section4::after {
    content: url(assets/Vector.png);
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: ;
}

.section4::before {
    content: url(assets/Vector\(1\).png);
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: ;
}

.vec3 {
    position: absolute;
    left: 0px;
}

.vec4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.vec5 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* ----------------------------------faq section-------------------------------------------- */
.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    position: relative;
}

.section5 h1 {
    font-size: 40px;
    display: flex;
    /* border: 1px solid ; */
    padding: 0px 10px;
    position: relative;
}

.section5 h1::before {
    content: url(assets/Line\ 70.png);
    position: absolute;
    left: -8px;
} 

.faq-container {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    background: none;
    border: none;
    font-size: 20px;
    /* font-weight: bold; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question1 {
    width: 100%;
    padding: 15px;
    text-align: left;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question1:after {
    content: '-';
    font-size: 30px;
}

.faq-answer1 {
    padding: 0 15px 15px 15px;
    /* display: none; */
    font-size: 16px;
    line-height: 32px;
    color: #666;
}

.faq-answer {
    padding: 0 15px 15px 15px;
    display: none;
    font-size: 14px;
    color: #666;
}

.faq-question:after {
    content: '+';
    font-size: 20px;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question:after {
    content: '-';
}

.section5::before {
    content: url(assets/Vector\(5\).png);
    position: absolute;
    left: 0px;
}

.section5::after {
    content: url(assets/Vector\(6\).png);
    position: absolute;
    left: 0px;
}

.vec7 {
    position: absolute;
    left: 0px;
}

.vec8, .vec9, .vec10 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* --------------------Max width 768px--------------------------------- */
@media (max-width: 768px) {
    .faq-container {
        width: 90%;
    }
}

.section6 {
    background-color: rgb(30, 52, 72);
    height: 299px;
    display: flex;
    flex-direction: center;
    /* align-items: center; */
    /* border: 2px solid; */
    position: relative;
    overflow: hidden;
}

.section6-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
    width: 100%;
    color: white;
    z-index: 5;
}

.section6-container h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.section6-container button {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 101, 254, 1);
    color: white;
    margin-top: 40px;
}

.section6::before {
    content: url(assets/Vector\(11\).png);
    position: absolute;
}

.section6::after {
    content: url(assets/Vector\(12\).png);
    position: absolute;
}

.vec13 {
    position: absolute;
}

.vecGroup2 {
    position: absolute;
    right: 0px;
}

footer {
    height: 561px;
    position: relative;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 4% 10%;
}

.contacts-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* border: 1px solid; */
}

.logo-socials {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.logo-socials img {
    width: 13.3vw;
    height: 6.3vh;
    /* border: 1px solid; */
}

.socials {
    padding: 10px;
    display: flex;
    gap: 24px;
}

.socials i {
    color: black;
    font-size: 24px;
    /*margin-right: 15px;*/
    transition: all .9s ease;
}

.socials i:hover {
    transform: translateY(-10px);
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 13.8px;
    column-gap: 50px;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
    margin-top: 10px;
    /* height: 384px; */
    width: 812px;
}

.linkGroup {
    padding: 0px 3%;
    /* border: 1px solid; */
    width: 179px;
}

.linkGroup h4 {
    font-size: 16px;
}

.linkGroup ul {
    list-style-type: none;
    margin-top: 20px;
}

.linkGroup ul li {
    padding: 8px 0px;
}

.linkGroup ul li a {
    text-decoration: none;
    color: rgba(17, 34, 50, 1);
}

.linkGroup ul li a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.termsSecurityCopy {
    color: rgba(17, 34, 50, 1);
    margin-top: 30px;
}

.termsSecurityCopy h3 {
    font-size: 14px;
}

footer::after {
    /* content: url(assets/Group\ 3.png); */
    position: absolute;
    left: 0px;
}