/* Tablet */
@media (min-width:768px) and (max-width:991px) {
    header {
        padding: 80px 5%;
    }

    main {
        padding: 20px 0%;
    }

    .main-heading h1 {
        padding: 10px 11%;
    }

    .main-content p {
        padding: 29px;
        width: 92%;
    }
}

/* Mobile */
@media (min-width:390px) and (max-width:480px) {
    header {
        padding: 80px 5%;
        width: 100%;
    }

    .header-container p {
        width: 90%;
    }

    main {
        padding: 20px 0%;
    }

    .main-heading {
        width: 300px;
    }

    .main-heading h1 {
        padding: 10px 9%;
    }

    .main-content p {
        padding: 29px 10px;
        width: 42%;
    }
}